# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Local Data (This is where you local data is stored)
months/
config/.holidays
config/.closingdays
config/.workingdays
config/.dailytargethours

# OS specific
.DS_Store
Thumbs.db

# Editor specific
*.bak